// main: ../main.scss
#resize-overlay {
  height: 100vh;
  width: 100%;
  background-color: $color-grey;
  z-index: 1000;
  position: fixed;
  display: none;
  opacity: 0;
}
#resize-overlay.visible {
  opacity: 1;
  display: block;
}
