// main: ../main.scss

$color-black: #000;
$color-bg: #111111;
$color-grey: #707070;
$color-lightgrey: #e8e8e8;
$color-green: #9ab7b6;
$color-lightboxText: #FFFFFF;
$color-UILines: #707070;
$color-hover: #ea1f8c;
